body {
  margin: 0;
  overflow: auto;
  min-height: 100vh;
  padding-top: 70px;
  background-color: #eaf4ff;
  font-family: "Source Sans 3", sans-serif;
}

p {
  font-weight: 350;
}

html {
  max-width: 100%;
}

body.home {
  background-image:
    linear-gradient(#dbe3ed 1px, transparent 1px),
    linear-gradient(90deg, #dbe3ed 1px, transparent 1px);

  background-size: 25px 25px;

  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 24px;
  height: 2px;
  background: black;
  display: block;
  transition: all 0.3s ease;
}

.zoom-wrapper {
  width: 3800px;
  height: 2600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1300px;
  margin-left: -1900px;
  transform: scale(0.25);
  transform-origin: center center;
  transition: transform 2.5s cubic-bezier(0.82, 1, 0.36, 1);
}

body.loaded .zoom-wrapper {
  transform: scale(1);
}

.scroll-container {
  width: 3800px;
  height: 2200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .canvas {
  width: 3800px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 310px;
  gap: 55px;
  padding: 180px 20px 220px 180px;
  align-content: start;
}

.viewport {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.canvas img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
  transition: filter 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.image-card:has(.detail-img) .main-img {
  cursor: pointer;
}

.canvas img:hover {
  filter: brightness(0.8);
  transform: scale(1.03);
}

img {
  background-color: #fff;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100vw;
  width: 100%;
  height: 70px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  padding: 0 30px;
  box-sizing: border-box;

  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
  z-index: 9000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-links a.active {
  font-weight: 600;
  border-bottom: 2px solid black;
}

.nav-logo {
  height: 36px;
  width: auto;
  display: block;
  background: transparent;
}

.nav-center {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: opacity 0.2s ease;
}

.nav-links a:hover {
  opacity: 0.6;
}

.content.infos,
.content.about,
.content.impressum {
  max-width: 1100px;
}

.content.project-page {
  max-width: 1200px;
}

main.content {
  display: flex;
  padding: 40px;
}

main.content.project-page {
  height: calc(100vh - 90px);
  gap: 140px;
}

.scroll-container {
  touch-action: none;
}

.tabs {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  border-right: 1px solid #eee;
  padding-right: 20px;
  gap: 15px;
}

.tab-btn {
  padding: 10px 0;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  border-left: 3px solid transparent;
  transition: all 0.3s ease;
}

.tab-btn.active {
  color: #000;
  font-weight: 600;
  border-left: 3px solid #000;
  padding-left: 8px;
}

.tab-btn:hover {
  color: #000;
}

/* rechte Spalte: Content */
.tab-content {
  flex: 1;
  padding-left: 20px;
  overflow-y: visible;
}

.tab-content h2 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 15px;
}

.tab-content h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

.tab-content p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.tab-content::-webkit-scrollbar {
  width: 6px;
}

.tab-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.site-footer {
  padding: 40px;
  background: #dbebfd;
  border-top: #b7c7db;
}

.about .site-footer,
.infos .site-footer {
  margin-top: 40px;
}

.impressum .site-footer {
  margin-top: 80px;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 40px;
  align-items: start;
}

.footer-contact p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.footer-contact a,
.footer-right a {
  color: #555;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.footer-contact a:hover,
.footer-right a:hover {
  opacity: 0.6;
}

.projekt main {
  height: 100vh;
  overflow: hidden;
}

body.projekt {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100vw;
  min-height: unset;
}

.project-info {
  flex: 1;
  max-width: 500px;
  overflow: hidden;
  margin-bottom: 20px;
}

.detail-img {
  position: absolute;
  right: -40px;
  bottom: 40px;
  width: 140px;
  aspect-ratio: 1/1;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  pointer-events: auto;
  transition: transform 0.6s, box-shadow 0.3s;
}

body.about {
  display: flex;
  flex-direction: column;
}

body.about .site-footer {
  margin-top: auto;
}

body.impressum {
  display: flex;
  flex-direction: column;
}

body.impressum .site-footer {
  margin-top: auto;
}


@media (max-width: 900px),
(max-device-width: 900px) {
  .swiper.mySwiper {
    height: 60vh;
    min-height: 300px;
    overflow: hidden;
    order: -1;
  }

  .detail-img {
    right: 10px;
    bottom: 10px;
    width: 90px;
  }

  body.projekt {
    min-height: unset;
    height: auto;
    overflow-y: auto;
  }

  .projekt main {
    height: auto;
    overflow: visible;
  }

  main.content.project-page {
    height: auto;
    gap: 40px;
    flex-direction: column;
    padding: 20px;
  }

  main.content {
    height: auto;
    flex-direction: column;
    padding: 20px;
  }

  .swiper-wrapper {
    align-items: flex-start;
    /* Slides oben ausrichten */
  }

  .swiper-slide {
    height: auto;
    /* Slide-Höhe passt sich Inhalt an */
  }

  .burger {
    display: flex;
  }

  .infos-layout {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
  }

  /* Titel kleiner */
  .nav-center {
    font-size: 16px;
  }

  .nav-right {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
  }

  /* Links werden Dropdown */
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 220px;

    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.3s ease;
  }

  /* offen */
  .nav-links.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .tabs {
    flex-direction: row;
    border-right: none;
    border-bottom: 1px solid #eee;
    padding-right: 0;
    padding-bottom: 30px;
  }

  .tab-btn {
    border-left: none;
    border-bottom: 3px solid transparent;
    padding: 10px 15px;
  }

  .tab-btn.active {
    border-left: none;
    border-bottom: 3px solid #000;
  }

  .infos-layout {
    grid-template-columns: 1fr;
  }

  .infos-image {
    grid-column: 1;
  }
  .project-info {
    max-width: 900px;
  }
}

.infos-layout {
  display: block;
}


@media (min-width: 900px) {
  .infos-layout {
    display: grid;
    grid-template-columns: 1fr 450px;
  }
}

.infos-header {
  grid-column: 1 / -1;
  /* überspannt beide Spalten */
}

.infos-data {
  grid-column: 1;
}

.infos-image {
  grid-column: 2;
  align-self: end;
  /* Bild sitzt unten rechts */
}

.infos-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#img-infos {
  background-color: rgba(255, 255, 255, 0);
}

a {
  color: #111;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.project-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 100px 40px 40px;
}

.project-info h2 {
  margin-bottom: 20px;
  font-family: "Source Sans 3";
}

.project-page,
.swiper,
.swiper-wrapper {
  min-height: 0;
}

.swiper.mySwiper {
  flex: 1;
  height: 100%;
  overflow: visible;
}

.swiper-slide-active img {
  transform: scale(1);
}

.swiper {
  width: 100%;
  height: 100%;
  min-height: 0;
}

.swiper-slide {
  scroll-snap-align: center;
  height: auto;
  transition: transform 0.3s ease;
}

.swiper-wrapper {
  align-items: center;
}

.image-card {
  position: relative;
  width: 100%;
}

.image-inner {
  position: relative;
  transform: scale(0.85);
  transition: transform 0.6s ease;
}

.swiper-slide-active .image-inner {
  transform: scale(1);
}

.main-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 14px 14px 10px 14px;
  color: white;
  font-size: 13px;

  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.72),
      rgba(0, 0, 0, 0));
}

.image-card.detail-active .caption {
  color: black;
  background: none;
}

.detail-img:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.2);
}